
* {
padding: 0;
margin: 0;
box-sizing: border-box;
}

body, html {
width: 100%;
scroll-behavior: smooth;
margin: 0;
padding: 0;
font-family: 'Poppins', sans-serif;
}

ul {
list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
	cursor: pointer;
	text-decoration:none;
}

#app-bar {
position: sticky;
top:0;
z-index: 1;
display: flex;
background: #E94D8A;
width: 100%;
max-height: 70px;
color: #FFFFFF;
align-items: center;
box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
padding: 1em;
}

.logo {
flex-basis: 30%; 
align-items: center;
}

.logo-title{
font-size: x-large;
white-space: nowrap;
font-weight: 700;
}

.nav-bar {
flex-basis: 70%;
display: flex;
flex-wrap: wrap;
justify-content: flex-end;
}

.nav-list {  
text-align: center;
}

.nav-item {
white-space: nowrap;
padding: 0.1em;
}

.nav-item a {
font-size: large;
width: 25%;
padding: 0.4em;
color: #FFFFFF;
font-weight: 600;
}

.nav-item a:hover{
border-bottom: 2px solid #E94D8A;
}

.nav-item a:active{
background-color: #E94D8A;
color: #ffffff;
border-radius: 0.5em;
}

ul.nav-list li a.active{
background-color: #E94D8A;
color: #ffffff;
border-radius: 0.5em;
}

#hero {
	background: #84DCE2;
	display: flex;
	justify-content: center;
	padding: 2em;
}

.hero-content {
	padding: 1em;
	max-width: 400px;
	text-align: center;
}

.hero-title {
	font-size: 36px;
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke: 3px #E94D8A;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

blockquote {
	font-size: large;
	color: #E94D8A;
	font-weight: 400;
  quotes: "\201C""\201D""\2018""\2019";
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
blockquote:before {
  color: #E94D8A;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote:after {
  color: #E94D8A;
  content: close-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-left: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}

#container {
	background: #FFFFFF;
}

.content {
width: 100%;
padding: 1em;
}

.content-title {
	font-size: large;
	font-weight: 600;
	color: #E94D8A;
	text-align: center;
}

.content-inner{
	border: 2px solid #84DCE2;
	width: 100%;
}

footer {
width: 100%;
background: #E94D8A;
margin: 1em auto;
padding: 1em;
text-align: center;
color: #ffffff;
}