
	* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body, html {
	width: 100%;
	scroll-behavior: smooth;
	margin: 0;
	padding: 0;
	font-family: 'Poppins', Verdana, sans-serif;
	font-size: medium;
	color: #065C75;
}

ul {
list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
	cursor: pointer;
	text-decoration:none;
}

h1{
	font-size: x-large;
	font-weight: 700;
	white-space: nowrap;
}

h2{
	font-size: large;
	font-weight: 600;
	color: #E94D8A;
	text-align: center;
	white-space: nowrap;
}

h3{
	font-size: medium;
	font-weight: 400;
	color: #E94D8A;
	text-align: center;
	white-space: nowrap;
}

h4{
	font-size: smaller;
	font-weight: 600;
	white-space: nowrap;
}

h5{
	font-size: smaller;
	font-weight: 400;
	white-space: nowrap;
}

h6{
	font-size: small;
	font-weight: 300;
}

#app-bar {
	position: sticky;
	top:0;
	z-index: 1;
	display: flex;
	background: #E94D8A;
	width:100%;
	max-height: 60px;
	color: #FFFFFF;
	align-items: center;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
	padding: 1em;
}

.logo {
	flex-basis: 30%; 
	align-items: center;
}

.logo-title{
	line-height: 32px;
	white-space: nowrap;
}

.nav-bar {
	flex-basis: 70%;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
}

.nav-list {  
	text-align: center;
}

.nav-item {
	white-space: nowrap;
	padding: 0.1em;
}

.nav-item a {
	font-size: large;
	width: 25%;
	padding: 0.4em;
	color: #FFFFFF;
	font-weight: 600;
}

.nav-item a:hover{
	background: #0193C1;
	color: #FFFFFF;
	border-radius: 0.5em;
}

.nav-item a:active{
	background-color: #0193C1;
	color: #FFFFFF;
	border-radius: 0.5em;
  filter: saturate(200%);
}

ul.nav-list li a.active{
	background-color: #0193C1;
	color: #FFFFFF;
	border-radius: 0.5em;
  transition: 0.2s all ease;
}

#hero {
	width: 100%;
	background: linear-gradient(0deg, #0193C160,  #E94D8A60);
	display: flex;
	justify-content: center;
	padding: 2em;
}

.hero-content {
	padding: 1em;
	max-width: 400px;
	text-align: center;
}

.hero-title {
	font-size: 36px;
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke: 3px #E94D8A;
	text-shadow: 0px 4px 4px #0193C125;
}

blockquote {
	font-size: large;
	color: #E94D8A;
	font-weight: 400;
  quotes: "\201C""\201D""\2018""\2019";
	text-shadow: 0px 4px 4px #0193C125;
}

blockquote:before {
  color: #E94D8A;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote:after {
  color: #E94D8A;
  content: close-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-left: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}

#container {
	background: #FFFFFF;
	padding: 1em;
}

.content {
	padding: 0.5em;
	width: 100%;
}

.content-inner {
	display: flex;
	padding: 0.3em;
	justify-content: center;
}

.hidden{
	display: none;
}

.btn-container {	
	display: flex;
  justify-content: center;
  align-items: center;
	padding-left: 1em;
}

.check-btn {
	color: #28A745;
	display: inline-block;
	background: transparent;
	border: 2px solid #28A745;
	display: block;
	padding: 0.2em 0.9em;
  border-radius: 4px;
	line-height: 38px;
	font-size: medium;
}

.check-btn:active {
	transform: translateY(1px);
  filter: saturate(150%);
}

.check-btn:hover{
	background: #28A745;
	color: #FFFFFF;
	cursor: pointer;
}

.trash-btn {
	display: inline-block;
	background: transparent;
	border: 2px solid #DC3545;
	display: block;
	padding: 0.2em 0.9em;
  border-radius: 4px;
	line-height: 38px;
	font-size: medium;
	color: #DC3545;
}

.trash-btn:active {
	transform: translateY(1px);
  filter: saturate(150%);
}

.trash-btn:hover{
	background: #DC3545;
	color: #FFFFFF;
	cursor: pointer;
}

.btn, .undo-btn {
	display: inline-block;
	background: transparent;
	border: 2px solid  #0193C1;
	color: #065C75;
	display: block;
	padding: 0.2em 0.9em;
  border-radius: 4px;
	line-height: 38px;
	font-size: medium;
	color: #0193C1;
}

.btn:active, .undo-btn:active {
	transform: translateY(1px);
  filter: saturate(150%);
}

.btn:hover, .undo-btn:hover{
	background: #0193C1;
	color: #FFFFFF;
	cursor: pointer;
}

.left-container {
  overflow: hidden;
  padding: 40px 0 0 0;
  position: relative;
  text-align: center;
  width: 250px;
	border-radius:  0.5em 0 0 0.5em;
}

.left-container .photos {
	top:0;
  position: absolute;
  text-align: center;
}

.left-container img {
	filter:saturate(1);
  width: 100%;
}

.submit {
	width: 50%;
	border-radius: 0 0.5em 0.5em 0;
}

.search {
	width: 50%;
	border-radius: 0.5em;
}

.form-container {
	background-color: #0193C160;
  display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	padding: 1.3em;
	row-gap: 1em;
}

.form-container input {
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 4px;
	line-height: 32px;
	width: 80%;
	padding-left: 5px;
}

.form-item {
	display: flex;
	flex-wrap: wrap;
}

.form-item label, .form-item input{
	flex-basis: 33%;
	font-size: medium;
	font-weight: 400;
}

.form-item input,
.form-item .radio-container{
	flex-basis: 67%;
}

.radio-container {
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  display: inline-flex;
}

.radio-container label {
	flex-grow: 1;
  background: transparent;
  border: 1px solid transparent;
  border-radius: 2px;
  line-height: 32px;
  margin: 0;
	padding: 0;
  text-align: center;
  transition: 0.2s all ease-in-out;
}

.radio-container input[type=radio] {
  display: none;
}

.radio-container input[type=radio]:checked + label {
  background: #0193C180;
  border: 1px solid rgba(0, 0, 0, 0.1);	
}

.finder {
	width: 50%;
	justify-self: center;
}

.uncompleted {
	width: 100%;
	background: #E94D8A60;	
	
}

.completed {
	width: 100%;
	background: #0193C160;
}

.list-book {
  display: grid;
	padding: 1em;
	row-gap: 1em;
}

.list-item {
	width: 100%;
	display: flex;
	justify-content: center;
	flex-direction: row;
	padding: 1em;
	gap: 1em;
	border-radius: 0.5em;
}

.list-desc {
	flex-grow: 1;
}

footer {
	width: 100%;
	background: #E94D8A;
	padding: 1em;
	text-align: center;
	color: #ffffff;
}